
#sg_win_description_wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}
#sg_win_description
{
    text-align-last: left;
    margin-top: 2%;
    padding-top: 1%;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 40%;
    background-color: rgba(204, 10, 155, 0.63);
    border: 1px solid rgb(255, 255, 255);
}
.sg_win_description_cols
{
    align-content: space-evenly;
    display: flex;
    flex-direction: column;
}

#slotsgame
{
    /* height: 90vh; */
    text-align: center;
    padding-bottom: 50px;
}

.svgs
{
    display: inline;
    height: 20px;
}

#slots_wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#slots
{
    width: 70%;
    height: 35vh;
    background-color: rgb(255, 1, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    border: 5px solid darkred;
}
.slot
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2%; */
    height: 100%;
    width: 33%;
    background-color: #41000000;
    /* border-right: 2px solid black; */
}

.slot_img
{
    height: 70%;
    width: 70%;
}

#slots2
{
    position: absolute;
    width: 70%;
    height: 35vh;
    background-color: rgba(255, 1, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    border: 5px solid darkred;
    z-index: 1000;
}
#slot21
{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#slotsgame h1{
    color: white;
    margin: 50px;
}