#contactus
{
    margin: 150px 100px;
    display: flex;
    background-color: #9543d871;
    justify-content: center;
    padding: 50px;
}
#contact
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px ;   
    margin-right: 30px;
}
#contact input, textarea
{
    /* border: 1px solid blueviolet; */
    border-bottom: 3px solid black;
    padding-left: 5px;
    font-size: 25px;
    width: 400px;
    background-color: #ffffff00;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

#contact button
{
    width: 150px;
    
}

#contact input::-moz-placeholder, input::-webkit-input-placeholder 
{
    color: rgb(255, 255, 255); 
}

#us img
{
    height: 50px;
    /* margin-right: 30px; */
}

#us
{
    padding: 50px;
    /* border: 1px solid red; */
}

#contact textarea::-moz-placeholder, textarea::-webkit-input-placeholder 
{
    color: rgb(255, 255, 255); 
}
#contact textarea
{
    resize: none;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: none;
    border: 3px dashed black;
    margin-bottom: 40px;
}
#contact_btn
{
    text-align: right;
}

#us_imgs
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    color: white;
    font-size: 30px;
}
#us_imgs span
{
    margin: 0 30px;
    color: rgb(102, 8, 90);
}
#us h1
{
    color: white;
}

#us p
{
    color: rgb(0, 0, 0);
    font-size: 30px;
}