#guessing_game
{
    text-align: center;
    margin: 50px 200px ;
}

#guessing_game h1
{
    color: white;
    margin-bottom: 50px;
}

#guessing_game_game
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#gg_row6, #gg_row5, #gg_row4, #gg_row3, #gg_row2, #gg_row1
{
    padding: 10px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

.gg_ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(211, 255, 251, 0.733);
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgba(99, 255, 99, 0.479); */
}

#guessing_game_money
{
    margin-top: 100px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#guessing_game_money input
{
    font-size: 23px;
    width: 120px;
}
#guessing_game_money span
{
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3.5px;
    display: block;
    font-size: 23px;
    height: 100%;
    background: #fff;
    color: #e61f6e;
}

#guessing_game_money button
{
  margin-left: 10px;
}


#gg_row1, #gg_row2, #gg_row3
{
    background-color: #ff626240;
} 
#gg_row4, #gg_row5
{
    background-color: #e562ff40;
}
#gg_row6
{
    background-color: #a3daff40;
}

#gg_description
{
    display: inline;
    text-align: left;
    font-size: 25px;
}
#gg_description_wrapper
{

    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
#gg_description ul 
{
    list-style-type:none;
}

.spanRow{
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
}

#spanBetM1, #spanBetM2, #spanBetM3
{
    font-weight: bold;
    -webkit-text-stroke: 1px #a30065;
}

#spanBetM1
{
    color: rgb(255, 255, 0);
}

#spanBetM2
{
    color: rgb(255, 123, 0);
    font-size: 30px;
}

#spanBetM3
{
    color: rgb(255, 0, 0);
    font-size: 35px;
}

.huyt
{
    color: rgb(54, 73, 241);
}