.BankCard
{
    display: flex;
    justify-content: center;
    color: white;
}

#credit_card
{
    height: 250px;
    width: 425px;
    background: #e61f6e;
    border-radius: 10px;
}
#bank_name
{
    text-align: right;
    margin: 4% 8%;
}
#card_chip div, #card_chip_reverse div
{
    height: 42px;
    width: 54px;
    background-color: #b1ae18;
    border-radius: 15px;
    margin: 6% 0 0 11%;
}
#card_number
{
    text-align: center;
    margin-top: 4%;
}
#card_number input
{
    font-size: 30px;
    width: 78%;
    background: #ffffff00;
    /* border-bottom: 1px solid black; */
    color: white;
    /* text-align: center;   */

}
#card_number input:focus, #card_date .react-datepicker__input-container input:focus, #card_name input:focus, #cardr_cvc input:focus
{
    border-bottom: 1px solid black;
}

#card_date .react-datepicker__input-container input 
{
    font-size: 15px;
    color: white;
    background-color: #ffffff00;
    width: 45px;
}

#card_date
{
    text-align: center;
}

#card_name 
{
    text-align: left;
    margin-left: 8%;
}

#card_name input
{
    width: 80%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffffff00;
    font-size: 20px;
}div

/* reverse */

#cardr_black_line
{
    height: 45px;
    width: 100%;
    background: #000;
    margin-top: 6%;

}

#card_chip_reverse div
{
    margin-top: 6px;
    background-color: #ffea04;
    margin-left: 20px;
    border-radius: 5px;
}

#card_chip_reverse
{
    display: inline-flex;
    text-align: center;
    
}

#cardr_cvc
{
    display: inline;
}

#globe_icon
{
    padding-top: 5px;
    color: #bf9f00;
}

#cardr_cvc
{
    height: 30px;
    display: inline-block;
    width: 50%;
    margin: 0 5px 0 10%;
    background: repeating-linear-gradient(
        180deg,
        #fff78a,
        #ff8fda 5px
    );
    text-align: right;

}

#cardr_cvc input
{
    width: 40px;
    background-color: #ffffff00;
    
}
#cardr_chip_n_cvc
{
    margin-top: 5%;
}


.BankCard input:invalid
{
    border-bottom: 3px solid rgb(228, 0, 0);
}

#Bank
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#BankMoneyIO button
{   
    margin-right: 2%;
    width: 150px;
}

#BankMoneyIO
{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#IOmoneyi
{
    margin-right: 2%;
    display: flex;
    align-items: center;
}
#IOmoneyi input
{
    height: 100%;
    font-size: 23px;
    width: 140px;
    padding: 0 5px;
}

#IOmoneyi span
{
    padding-right: 5px;
    padding-top: 3px;
    display: block;
    font-size: 23px;
    height: 100%;
    /* width: 10px; */
    background: #fff;
    color: #e61f6e;
}

#moneyUD_error
{
    padding: 0 10px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color: #ffffff89;
}

#Bank_wrapper 
{
    text-align: center;
}





.iButton
{
    margin-right: 2%;
}


.iButton button {
    
    position: relative;
    background: #610443;
    color: #ffffff;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
  }
  
  .iButton .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .iButton .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .iButton .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .iButton .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .iButton .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .iButton .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  .iButton button:hover:enabled {
    background: transparent;
    color: #ffffff;
    /* box-shadow: 0 0 25px #fec1958c; */
    background: rgb(117, 7, 13);
  }
  
  .iButton  button:hover:enabled .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton button:hover:enabled .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton button:hover:enabled .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton button:hover:enabled .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton button:hover:enabled .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton button:hover:enabled .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .iButton .fil0 {
    fill: #FFFDEF
  }

  .iButton button:disabled {
    color: rgb(155, 155, 155);
    background: #8f0563;
    cursor: not-allowed;
    transition: background 0.4s, color 0.4s; /* добавлено свойство transition */
}