
body
{
    height: 100%;
    background: linear-gradient(to right, #2C17B1, #da04b6, #7C07AA, #a00c40, #7A005C, #a10505);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

input
{
    border: 0;
}
input:focus
{
    outline: none;
}

button {
    padding: 8px 30px;
    color: white;
    background: #610443;
    border: none;
    transition: background 0.4s, color 0.4s; /* добавлено свойство transition */
    /* border-radius: 1vh; */
}

button:disabled {
    color: rgb(155, 155, 155);
    background: #8f0563;
    cursor: not-allowed;
    transition: background 0.4s, color 0.4s; /* добавлено свойство transition */
}

button:hover:enabled
{
    transition: background 0.4s;
    background: rgb(117, 7, 13);
}

input:read-only
{
    color: rgb(73, 73, 73);
}
