/* Snowfall.css */
.snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
  }
  
  .snowflake {
    color: white;
    position: absolute;
    opacity: 0.8;
    animation: falling 5s linear infinite;
  }
  
  @keyframes falling {
    from {
      transform: translateY(-100vh);
    }
    to {
      transform: translateY(100vh);
    }
  }
  